.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--danger);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
}


.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--success);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
  outline: none;
}

.regularButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--bg-light);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
  outline: none;
}
.CTAButton {
  position: relative;
  overflow: hidden;
  padding: 0.75rem 2rem;
  border: 2px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 5px;
  background: var(--info);
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

.text {
  position: relative;
  z-index: 2;
  color: var(--text);
}

.fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--danger); /* red fill */
  z-index: 1;
  transform-origin: left;
}
