.primaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--primary);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
}


.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--secondary);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
  outline: none;
}

.regularButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background-color: var(--bg);
  padding: 12px 14px;
  box-shadow: var(--shadow);
  color: var(--text);
  font-size: var(--p);
  border: 2px solid var(--border);
  border-radius: 4px;
  outline: none;
}
