.navItem {
  position: relative;
  display: inline-block;
  cursor: pointer;
  display: flex;
}

.title {
  font-weight: var(--weight-semibold);
  font-size: 16px;
  padding: 10px 8px;
  color: var(--text);
}

