.navbar {
  width: 100%;
  border-bottom: 2px solid var(--border);
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarInner {
  box-sizing: border-box;
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.navbarItems {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

