.navbar {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navbarInner {
  margin: 1.2rem 0;
  box-sizing: border-box;
  background-color: var(--bg-light);
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 70%;
  padding: 1rem 0;
}

.logo {
  position: relative;
}
