.navbar {
  width: 100%;
  border-bottom: 2px solid var(--border);
  background-color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarInner {
  box-sizing: border-box;
  background-color: var(--bg);
  width: 70%;
}

.logo {
  position: relative;
}
