.heroSection {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 4rem;
  border: 2px solid var(--border);
  box-shadow: var(--shadow);
  background-color: var(--bg-dark);
}

.title {
  font-size: var(--h1);
  color: var(--text);
  line-height: 1.2;
  margin-bottom: 1rem;
}

.content {
  flex: 1;
  width: 50%;
}

.images {
  flex: 1;
  width: 50%;
}

.images img {
  height: 30rem;
  width: 30rem;
  box-shadow: var(--shadow);
  border: 2px solid var(--border);
}

.title span {
  color: var(--primary);
}

.subtitle {
  font-size: var(--p);
  color: var(--text);
  margin-bottom: 2rem;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: flex-start;
  align-items: center;
}
