.heroSection {
  margin-top: 5rem;
}

.content {
  width: 70vw;
  max-width: 100vh;
  text-align: center;
}
.title {
  font-size: 3.815rem;
  color: var(--text);
  max-width: 100%;
}

.title span{
    color: var(--text);
    border: 1px solid black;
    background-color: var(--secondary);
    border-radius: 5px;
    padding: 4px 2px;
}

.subtitle {
  font-size: 1.25rem;
  color: var(--text);
}


