@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Backgrounds */
  --bg-dark: #ecf3f9;
  --bg: #fff4e8;
  --bg-light: #f4f5f0;

  /* Text */
  --text: #1a0938;
  --text-muted: #7f7a91;

  /* Borders & Shadows */
  --border: #000000;
  --border-muted: #c4a1ff;
  --border-card: solid 2px var(--border);
  --shadow: 4px 4px 0px 0px var(--border);

  /* Brand & Actions */
  --primary: #a76dff;
  --secondary: #d1f400;
  --highlight: #ffdb58;

  /* States */
  --danger: #ff6b6b;
  --warning: #ffd96c;
  --success: #90ee90;
  --info: #69d2e7;

  /* Typescales */
  --h1: 3.815rem;
  --h2: 3.052rem;
  --h3: 2.441rem;
  --h4: 1.953rem;
  --h5: 1.563rem;
  --h6: 1.25rem;
  --p: 1rem;
  --small: 0.8rem;
}
@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/Archivo-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Archivo";
  src: url("../src/assets/fonts/archivo/ArchivoBlack.ttf");
  font-weight: 900;
}

@theme {
  --font-archivo: "Archivo";

  --weight-thin: 100;
  --weight-normal: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extrabold: 800;
  --weight-black: 900;
}

@layer base {
  body {
    background-color: var(--bg);
    font-family: var(--font-archivo);
    font-weight: var(--weight-normal);
  }

  h1 {
    font-family: var(--font-archivo);
    font-weight: var(--weight-black);
  }

  h2 {
    font-family: var(--font-archivo);
    font-weight: var(--weight-bold);
  }

  h3 {
    font-family: var(--font-archivo);
    font-weight: var(--weight-semibold);
  }

  button {
    font-family: var(--font-archivo);
    font-weight: var(--weight-medium);
  }

  p {
    font-family: var(--font-archivo);
    font-weight: var(--weight-thin);
  }
}
